/* SEARCH */
.transfer-input-container {
  border: 1px solid #a9a9a9;
  border-radius: 10px;
  width: 700px;
  height: 50px;
}

.transfer-input-container input {
  width: 700px;
  border: none;
  border-radius: 10px;
}

/* AMOUNT */
.transfer-amount-input {
  text-align: center;
  font-size: 40px;
  border: none;
  height: 60px;
  width: 200px;
}

.transfer-note-input-container {
  border: 1px solid #a9a9a9;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 350px;
}

.transfer-note-input-container input {
  border: none;
}
